body {
    /*background-color: lightgray;*/
    background-image: url('./zbackground.jpg');
    margin:0;
    padding:0;
}

header{
    height: 70vh;
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#towerBox{
    height: 275px;
    width: 600px;
    background-image: url('./tower.JPG');
    background-position: right;
    background-size: cover;
    box-shadow: 1px 1px 5px rgba(0,0,0.3);
    border-radius: 0vh;
    transform: rotate(45deg);
}

#textBox{
        width: 75%;
        height: 115px;
        background-color:lightblue;
        color:black;
        font-family: 'Lucinda Sans';
        font-size:24px;
        margin-top: 25px;
        text-align: justify;
  
}


#navbar {
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    position: absolute;
    top:50;
}


.listItem{
list-style-type: lower-roman;
display: inline-block;
float: left;
margin-right: 16px;
}

.listItem a{
color: black;
text-decoration: blue;
font-size: 30px;


}

#brand{

    float: left;
}

.listItem a:hover {

    color: purple;
}
